.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  @media screen and (max-width: 768px) {
    .video-container {
      padding-bottom: 75%; 
    }
  }
  